PythonFiles/NER/model/model-best
PythonFiles/Calendar/Outlook/api_token_access.json
PythonFiles/Calendar/GoogleCalendar/GoogleCalendarAPI/credentials.json
PythonFiles/Calendar/GoogleCalendar/GoogleCalendarAPI/token.json
Testing/testing_text_grp.txt
Testing/testing_text_multi.txt
Testing/testing_text_single.txt
Testing/testing_text_r.txt
PythonFiles/GUI/ColorThemes/Anthracite.json
PythonFiles/GUI/ColorThemes/Blue.json
PythonFiles/GUI/ColorThemes/DaynNight.json
PythonFiles/GUI/ColorThemes/GhostTrain.json
PythonFiles/GUI/ColorThemes/Greengage.json
PythonFiles/GUI/ColorThemes/GreyGhost.json
PythonFiles/GUI/ColorThemes/Hades.json
PythonFiles/GUI/ColorThemes/Harlequin.json
PythonFiles/GUI/ColorThemes/MoonlitSky.json
PythonFiles/GUI/ColorThemes/NeonBanana.json
PythonFiles/GUI/ColorThemes/NightTrain.json
PythonFiles/GUI/ColorThemes/Oceanix.json
PythonFiles/GUI/ColorThemes/Sweetkind.json
PythonFiles/GUI/ColorThemes/TestCard.json
PythonFiles/GUI/ColorThemes/TrojanBlue.json