PythonFiles/NER/model/
PythonFiles/Calendar/Outlook/api_token_access.json
PythonFiles/Calendar/GoogleCalendar/GoogleCalendarAPI/credentials.json
PythonFiles/Calendar/GoogleCalendar/GoogleCalendarAPI/token.json
PythonFiles/Calendar/Outlook/OutlookConstants.py
PythonFiles/test.py
*Testing
*Models
dev_venv
PythonFiles/__pycache__
PythonFiles/Calendar/__pycache__
PythonFiles/Calendar/GoogleCalendar/__pycache__
PythonFiles/Calendar/Outlook/__pycache__
PythonFiles/EdittedPackages/__pycache__
PythonFiles/Events/__pycache__
PythonFiles/GUI/__pycache__
PythonFiles/Managers/__pycache__
PythonFiles/NER/__pycache__
PythonFiles/Pages/__pycache__
.DS_Store
.vscode
.venv